[2016-07-26 11:09] seasonyuu opened #1 "Wrong name in readme"
readme中repo名字打错了   ps 愿意支持MIUI的亮色状态栏吗

[2016-07-26 11:38] WangDaYeeeeee commented on #1
我研究下吧，谢谢反馈～

Season Yuu notifications@github.com于2016年7月26日周二 19:09写道：

[2016-08-29 20:50] TheLastZombie opened #2 "Issue with dark theme and settings page"
Screenshot: https://u.pomf.is/lusmzn.png

[2016-08-31 02:44] WangDaYeeeeee commented on #2
I‘ve been resolved this problem, and will update in next version.

Thx for your feedback.

[2016-09-03 07:57] TheLastZombie commented on #2
Thanks, looks good now!

[2016-09-03 07:57] #2 closed, assigned to nobody

[2016-10-15 09:55] mrsensen opened #3 "跪求API整理😚"
撸主可以整理一下API吗 万分感谢 😅

[2016-10-16 01:59] WangDaYeeeeee commented on #3
https://unsplash.com/documentation

unsplash官网上有的。。。

[2016-10-16 02:20] mrsensen commented on #3
- -好吧

[2016-11-17 02:01] jahirfiquitiva opened #4 "Possible copyright infringement"
Hi

I really like it, is super cool app, well designed, with good performance, etc.

I don't know what's the license of this project.  But it seems like someone just forked and created an almost-exact (if not exact) copy of your app.

Just wanted to let you know in case you want to report it or do something about it.

Good luck and keep up the awesome work.

Link to the app:
https://play.google.co

[2016-11-17 10:17] WangDaYeeeeee commented on #4
Well, thanks for your support and this is not the first time.
Let me try to find a way to deal with it, but to be honest, I have no hope for the result.

[2016-11-17 14:19] jahirfiquitiva commented on #4
I think if you set a restrictive enough license for this project, you can report apps to Google and they will remove them from PlayStore for sure. It all depends in how much you are ok with people using the source code (since it's open source).

Good luck anyways

[2016-12-01 01:42] yxk17668 opened #5 "download issues"
About picture download issues,it's not to download.

[2016-12-01 01:44] yxk17668 commented on #5
it's also have the title"system not run".please check in.

[2016-12-01 03:36] WangDaYeeeeee commented on #5
I will check it.

BillHans <notifications@github.com>于2016年12月1日周四 09:44写道：

[2016-12-01 08:24] yxk17668 commented on #5
when I click on "download manager",you jump out of a window display APP to stop running.I know this issue replace on the phone now.

[2017-01-28 09:53] rugk commented on #4
Also http://gpl-violations.org/ is online again, so you may find some help there.

[2017-01-28 10:06] rugk opened #6 "Automatically set image as background"
It would be nice if this app would have an option to automatically download a good, recent image (maybe features or so) and set it as the Android home screen background image once a day.

This way we can always enjoy a nice "picture of the day".

[2017-01-29 17:02] source-decay opened #7 "Prevent downloading duplicate pictures"
It is currently possible to download as many duplicates of a picture as one wants.

[2017-01-30 11:16] WangDaYeeeeee commented on #6
I have considered this problem, all my concern is that not all photos are suitable for use as a wallpaper.
And I will try to solve this problem.

[2017-01-30 11:18] WangDaYeeeeee commented on #7
Already fixed. I will test and send a update.

Thx a lot.

[2017-01-31 04:40] sunng87 opened #8 "Custom APIKEY?"
Add an option to allow user to set their own APIKEY to prevent rate limit.

[2017-01-31 05:21] WangDaYeeeeee commented on #8
The number of rare limit is completely sufficient. But Unsplash has a problem with server.

[2017-01-31 08:31] CrimsonFork opened #9 "Can't load anything"
Since the 2.7.3 > 2.7.8 update in F-Droid.

[2017-01-31 08:44] WangDaYeeeeee commented on #9
Seems like Unsplash has a problem with server.

[2017-01-31 14:17] WangDaYeeeeee commented on #8
Yeah, I just changed my mind.

[2017-01-31 14:18] WangDaYeeeeee commented on #9
Already fixed.

[2017-02-01 15:02] disrupted commented on #8
@WangDaYeeeeee does that mean you are going to offer a personal API token setting in a future app update?

[2017-02-01 15:11] disrupted opened #10 "[feature request] follow users"
I am not sure if this feature is still in beta, but recently Unsplash introduced a new feature to their page that finally lets you follow specific photographers (just like you would on other social networks). Would be cool if this functionality could come to Mysplash as well.

[2017-02-01 15:14] WangDaYeeeeee commented on #10
It's in test now.

[2017-02-01 15:15] WangDaYeeeeee commented on #8
I will add this option, but not in next update.

[2017-02-01 17:19] hullymoly opened #11 "Building Error"
I have testing your project, but I have new issues. Let's check it out now. I'm not building your project.

*I have not made any edits at all.*

`   java.lang.RuntimeException: Unable to start activity ComponentInfo{com.wangdaye.mysplash/com.wangdaye.mysplash.photo.view.activity.PhotoActivity}: android.view.InflateException: Binary XML file line #18: Could not inflate Behavior subclass com.wangday

[2017-02-01 17:20] hullymoly commented on #10
Will this feature come? When will he come?

[2017-02-01 23:06] WangDaYeeeeee commented on #11
The behavior must has this construction method of two parameters.

        super(context, attrs);
        this.statusBarHeight = DisplayUtils.getStatusBarHeight(context.getResources());
}

And if this does not work, try to clean the project and rebuild it.

[2017-02-01 23:09] WangDaYeeeeee commented on #10
In this week, probably.

[2017-02-02 01:42] disrupted commented on #8
@WangDaYeeeeee take your time, man. I appreciate your work a lot!

[2017-02-02 03:27] hullymoly commented on #11
[code]
*** PhotoCoverBehavior never used***

[2017-02-02 04:09] sunng87 commented on #8
Great! This feature will make the FOSS app more reliable. Thank you!

[2017-02-02 04:11] sunng87 opened #12 "Suggestion: Using Github releases to host apks"
As we have more and more releases, the repo size grows fast. I suggest to use Github releases to host packages and remove them from git trees.

[2017-02-02 12:10] hullymoly opened #13 "Error on sliding down"
In new tab when I scrollling down always it crashed. Check it out app.

[2017-02-02 12:55] WangDaYeeeeee commented on #13
In my release version ? Or your own version of the compiler ?

[2017-02-02 15:10] WangDaYeeeeee commented on #13
Already fixed.

[2017-02-02 15:58] hullymoly commented on #13
In your latest version. What is name of problem?

[2017-02-02 16:40] hullymoly opened #14 "Dont looks good category section"
I dont like new category section maybe you can add â bottombar like 500px get better. Is this possible?

[2017-02-02 16:43] hullymoly commented on #14
Looks like section but you can find spacenavigation on github

[2017-02-02 19:12] disrupted commented on #10
_early feedback about update 2.8.3 here:_
@WangDaYeeeeee dude, you nailed it with this update. loving the new follow option and this is about the most gorgeous button animation I've ever seen. big ups !

[2017-02-02 23:50] WangDaYeeeeee commented on #14
There are too many options in category, I think that the bottom bar is not very suitable.

[2017-02-03 00:17] WangDaYeeeeee commented on #12
Well, I will have a try in next update.

[2017-02-03 06:21] hullymoly opened #15 "Tag Search"
if user click tags then show tag's images? Is this possible? like http://www.arthurweill.fr/Unsplash/en maybe you can add your project :)

[2017-02-03 08:34] WangDaYeeeeee commented on #15
I will add it. Good idea.

hullymoly <notifications@github.com>于2017年2月3日周五 14:21写道：

[2017-02-03 13:30] WangDaYeeeeee commented on #10
Thank you dude.~

[2017-02-03 13:35] hullymoly commented on #15
Thanks, otherwise you have to look at 500PX app. Looks amazing. This app will give something idea for you.

[2017-02-03 13:42] WangDaYeeeeee commented on #15
Yeah, I download it in this morning.

[2017-02-03 19:05] source-decay commented on #7
Solution in place works well. Thanks!

[2017-02-03 19:05] source-decay commented on #7
Solution in place works well. Thanks!

[2017-02-03 19:05] #7 closed, assigned to nobody

[2017-02-06 05:53] hullymoly opened #17 "Load Nothing Again"
In morning load nothing again...

[2017-02-06 07:00] hullymoly commented on #17
Actually
The api request for Unsplash may not be enough, I think you should contact unsplash.

[2017-02-07 12:32] WangDaYeeeeee commented on #17
Yeah, I will try to deal with it.

[2017-02-08 13:08] disrupted opened #18 "v2.8.8 can't like pictures anymore"
the latest update which "improves some of the logic behind liking pictures" actually broke it for me. the tiny spinner comes up for a second but the picture remains without a like. Have tried it with both official and custom API keys. Can you please check if everything is technically fine?

[2017-02-08 13:28] WangDaYeeeeee commented on #18
Is that cannot work in every view? Or just some view?

[2017-02-08 14:02] disrupted commented on #18
ah you know what, my bad, somehow I got logged out – actually works like a charm as ever. (and I should get more sleep)
+++ thanks, can be closed

[2017-02-12 11:03] lucacassani opened #19 "Profile header stays fixed"
Header (with photo,name and description of a person) sometimes stays fixed. I'm able to see pictures and scroll down with the header expanded.

[2017-02-12 13:02] mahdiG opened #20 "Load nothing"
Hi. Version 2.8.9 doesn't load any image.

[2017-02-12 13:03] WangDaYeeeeee commented on #20
Well, I have already send a new update.

mahdiG <notifications@github.com>于2017年2月12日周日 21:02写道：

[2017-02-13 07:20] mahdiG commented on #20
Really? The latest version in F-Droid is 2.8.9

[2017-02-13 09:17] WangDaYeeeeee commented on #20
You can find it in google play, and I never send a update version to F-Droid...

[2017-02-13 14:50] mahdiG commented on #20
So who updates the f-droid version?? I don't have google play :-/

[2017-02-14 12:50] disrupted opened #21 "[idea] show remaining API requests"
Would it be possible to show the remaining API requests for this hour somewhere in the app (for instance inside the left panel)? as far as I understand their documentation you always receive something like
[code]
as part of their HTTP Response header.
At this point when you know the global limit it would also be possible to just count the requests locally, right? I think this might be a good way t

[2017-02-15 11:33] WangDaYeeeeee commented on #21
Well, I think this is unnecessary.

The Mysplash's API key has 5000 request times in every hour. It's a huge number, and it's enough to use. If you request a personal API key, it would have 500 request time in every hour, it's enough too.

[2017-02-15 20:36] hullymoly opened #22 "[Idea] Live Photos"
If user select a category, will soon live wallpaper on schedule? Is this possible? Maybe could this function very impreessive.

[2017-02-16 08:15] WangDaYeeeeee commented on #22
I just worry about that not every photo is suitable for set as a wallpaper.

[2017-02-16 13:20] hullymoly commented on #22
Hey can you check wallsplash algrorithm. Mike Penz solved scale bugs.
So you can integrate yourself. Check it out please Wallsplash on github.
https://github.com/mikepenz/wallsplash-android @WangDaYeeeeee

[2017-02-17 14:02] hullymoly opened #23 "Where is the new Version 3?"
Please add new build?

[2017-02-18 09:03] WangDaYeeeeee commented on #23
You mean a new release version ?

[2017-02-19 06:09] kingapplock commented on #23
Yes. Sorry about that
@WangDaYeeeeee

[2017-02-19 06:11] hullymoly commented on #23
Yes sir?
What will happen in the new version? Did you add a live photo?

@WangDaYeeeeee

[2017-02-19 06:20] WangDaYeeeeee commented on #23
Well, I need prepare for the exam in next month....

So.... you probably need to wait.

[2017-02-19 06:45] hullymoly commented on #23
Oh sir. Good luck your in exam! We are excited to wait for you :)
@WangDaYeeeeee

[2017-02-19 06:49] hullymoly commented on #23
It would be great if there were pictorial categories like Inswall android app
https://play.google.com/store/apps/details?id=com.edzondm.revolutionwalls

can you look at it?
@WangDaYeeeeee

[2017-02-21 22:47] wisemonkey commented on #20
Just confirming the issue with f droid version.

[2017-02-22 08:02] xasx opened #24 "Crash when viewing image"
After an update to the latest version, I encounter an App crash when I click on an image to view its details.

App Version: 2.9.3
Android OS: 7.1/LineageOS 14.1
Reproducibility: always
STR: Tap an image in the stream.

From my logcat, I can see this NPE:

[code]

Some more context (stripped down a little bit):
[code]

[2017-02-22 08:20] WangDaYeeeeee commented on #24
I just sent a new update to the Google Play Store and GitHub, I fixed this bug in new version.

[2017-02-22 09:34] disrupted opened #25 "strange placeholder launcher icons on image viewer"
this happens when I tap once inside the new image viewer. (v2.9.5)
[http://i.imgur.com/3GQFtOI.jpg](http://i.imgur.com/3GQFtOI.jpg)

[2017-02-22 09:52] WangDaYeeeeee commented on #25
This is a function to preview the wallpaper. You can tap the image to let them show or hide.

[2017-02-22 11:00] hullymoly opened #26 "Categories showing by latest images"
Can you add a categories section by box to box ? Can you add this, like insWall or 500px?

[2017-02-22 11:05] hullymoly opened #27 "Images auto cropping like Wallsplash?"
Hey, can you add auto crop and  set background in auto? Like Wallsplash. When we touch wallpaper button wallpaper auto set?

[2017-02-22 11:08] hullymoly commented on #26
Like:
http://i.hizliresim.com/4PYG20.png

[2017-02-22 11:30] xasx commented on #24
Thanks, works again.

[2017-02-22 11:30] #24 closed, assigned to nobody

[2017-02-22 19:02] droidtub opened #28 "App crashes when clicking on image item in Download"
App always crashes when clicking on any download image item in Download.

[2017-02-22 20:00] disrupted commented on #25
oh okay, then that's pretty cool actually. I simply wasn't aware of this.

[2017-02-27 19:36] hullymoly opened #29 "About New Update*"
When will the new update come?
@WangDaYeeeeee

[2017-02-28 11:18] WangDaYeeeeee commented on #29
Soon, maybe this week or next week.

[2017-03-01 11:05] hullymoly commented on #29
Will you add a pictorial category? I think categorizations should be seen in the top tabs so there is no need to open the navigation drawer.
@WangDaYeeeeee

[2017-03-01 22:29] WangDaYeeeeee commented on #29
Sorry, I won't do that. Because the Mysplash is not only a wallpaper app, but also an Unsplash client. And if you want some photos with a category, I suggest you just search them, because the category interface is already abandoned. I can find that the photos in category have not been updated anymore.

[2017-03-03 06:34] CrimsonFork opened #30 "German translation"
I've translated your app to [German](https://gist.github.com/77d3d88c77eaf5fef073a471e089230c) via [Stringlate](https://github.com/LonamiWebs/Stringlate).

You may have to have a look at it first because I've translated some Strings with an underscore which I guess I'm not supposed to.

[2017-03-06 16:34] hullymoly opened #31 "Where is the new update?"
I can't wait that. Because I really excited about new features. Please help.

[2017-03-07 08:55] Ulop opened #32 "Russian language support"
russian language translation(values-ru)
rename to strings.xml
[strings-ru.txt](https://github.com/WangDaYeeeeee/Mysplash/files/823805/strings-ru.txt)
[arrays](https://gist.github.com/Ulop/86b15cf981fbb5ab72e51bf2e1d834e5)

[2017-03-07 11:30] WangDaYeeeeee commented on #32
Man, I just saw your issue, I will add Russian language in next version.

Thank you for the translate work.

[2017-03-07 11:35] WangDaYeeeeee commented on #31
I've already sent a new update now....

[2017-03-07 15:17] WangDaYeeeeee commented on #30
Sorry to reply to you so late, I'm really busy this month.

I've alreay sent a new update to the Google play, and added the German language.
Really thank you for the translate work man. Have a nice day.

[2017-03-08 05:45] CrimsonFork commented on #30
No problem for me waiting for an answer, don't worry!

I'm using only F-Droid by the way.

[2017-03-08 14:32] hullymoly opened #33 "Always show "0" relative images"
When I click more button always 0 relative photos. Please fix them.

[2017-03-09 06:43] Ulop commented on #32
I'm make some changes. Please look my comment on values-ru/strings.xml in this [commit](https://github.com/WangDaYeeeeee/Mysplash/commit/3b6fe70a7534c2649f97ce9346673569541670be#diff-76bcd6883af6cc94358142cc50166062).

[2017-03-09 06:57] WangDaYeeeeee commented on #33
Yeah, Unsplash doesn't provide the data about relative photos, I will alter the user interface.

[2017-03-20 06:32] CrimsonFork commented on #30
I made an [update](https://gist.github.com/321a55cfa0ad86b562b8574a86390e13) for the translation and noticed that you linked me in the translator credits, thanks :-)

[2017-03-28 11:42] #25 closed, assigned to nobody

[2017-03-28 11:42] #18 closed, assigned to nobody

[2017-03-28 11:42] #10 closed, assigned to nobody

[2017-03-30 13:02] #32 closed, assigned to nobody

[2017-04-03 14:40] rugk commented on #20
FDroid updates automatically… They pull the code by themself…

[2017-04-03 14:48] rugk commented on #31
FDroid still has v3.0.5. You've published [v3.0.6](https://github.com/WangDaYeeeeee/Mysplash/releases/tag/3.0.6) and already committed [v3.0.7](https://github.com/WangDaYeeeeee/Mysplash/commit/e0f31bdee84502233880c7b5aed9eaaad1790983) (but not released yet).

The built for [v3.0.6 is said to have failed](https://f-droid.org/wiki/page/com.wangdaye.mysplash#3.0.6), although [the built log claims oth

[2017-04-03 14:49] rugk commented on #30
@OffifialMITX Instead of gists, pull requests would be more useful, would not they?

[2017-04-03 14:50] rugk commented on #29
As for updates issues with FDroid, see https://github.com/WangDaYeeeeee/Mysplash/issues/31.
I think this issue can now be closed.

[2017-04-03 14:51] rugk commented on #22
Duplicate of https://github.com/WangDaYeeeeee/Mysplash/issues/6 AFAIK.

[2017-04-03 14:52] rugk commented on #21
I agree, so we can we close this issue?

[2017-04-03 14:55] rugk commented on #20
BTW  @WangDaYeeeeee could you clean up (= close) all this dupes of "nothing loaded"?

https://github.com/WangDaYeeeeee/Mysplash/issues/9, https://github.com/WangDaYeeeeee/Mysplash/issues/17

[2017-04-03 15:00] rugk opened #34 "Login fails (with other browser)"
Using Firefox for Android v52 and Mysplash 3.0.5 I cannot login. When I login into my MySplash account I am redirected to the app, but the app does not recognize it and still says I am not logged in.

Maybe you could rather use built-in WebView like [StreetComplete](https://github.com/westnordost/StreetComplete/) does it, which may be more robust for this login. However, this of course has the dis

[2017-04-03 15:24] rugk commented on #34
Tried again and it works now. Seems they used usernames to login previously and now you have to use your mail.

[2017-04-03 15:24] #34 closed, assigned to nobody

[2017-04-03 20:09] CrimsonFork commented on #30
You may be totally right but...
... [Stringlate](https://github.com/LonamiWebs/Stringlate) doesn't support PRs
... I have absolutely no idea how to use GitHub functions which are not Star/Download/Comment/New Issue. I will learn it once but in the I don't have enough time yet. I'll put it on my ToDo list though, thanks.

[2017-04-03 22:09] #9 closed, assigned to nobody

[2017-04-03 22:09] #17 closed, assigned to nobody

[2017-04-03 22:10] #20 closed, assigned to nobody

[2017-04-03 22:10] #21 closed, assigned to nobody

[2017-04-03 22:16] WangDaYeeeeee commented on #31
@rugk
Yeah I've already learned how to post updates and released a new version in GitHub ("3.0.6").

[2017-04-03 22:16] #31 closed, assigned to nobody

[2017-04-04 13:19] rugk commented on #31
That's not what I was talking about. See:

So the last built failed on the FDroid server - for whatever reason. That's why FDroid users do not get it.

And still v3.0.7 has not been released yet.

[2017-04-04 13:26] rugk commented on #30
It's easy to learn – and clearly useful.

@WangDaYeeeeee, you could of course also use some online-translation service and integrate it here, so users can just use it to translate your app into multiple languages.

[2017-04-04 22:51] WangDaYeeeeee commented on #31
@rugk

The build for v3.0.7 is in test, it's not a final version.

[2017-04-17 13:20] xshengcn opened #35 "好像有人抄袭你的应用了"
https://play.google.com/store/apps/details?id=com.brocoli.wally

[2017-04-18 00:10] WangDaYeeeeee commented on #35
是的。。。但是也没啥办法。。。

[2017-04-18 00:10] #35 closed, assigned to nobody

[2017-04-22 06:40] relan opened #36 "v3.0.8 source code not published?"
There is v3.0.8 on Google Play. In this repo there is only v3.0.7 (see `app/build.gradle`), though tagged as v3.0.8. Could you please clarify my confusion? I'd like to bring the latest version of Mysplash to F-Droid.

[2017-04-26 15:26] relan commented on #36
~Same story with v3.1.1: only v3.1.0 available in the repository.~

Edit: v3.1.0 source code is tagged as v3.1.1. This breaks F-Droid's automatic updates. Please tag a new release _after_ you bump version code/name in build.gradle.

[2017-05-04 16:04] hullymoly opened #38 "Where is the newest version in Relative Images and "more" section?"
Where is the newest version in Relative Images and "more button" section?

Thanks.

[2017-05-05 06:44] tysheng opened #39 "Would you move the art things to an issue or anywhere else?"
Really nice project!!

But there is quite a little bit of images making it hard to clone, would you like to move it to an issue? thx!

[2017-05-06 10:05] WangDaYeeeeee commented on #39
哥们儿待我有时间了整理一下吧，确实存在冗余

[2017-05-06 10:05] #39 closed, assigned to nobody

[2017-05-06 10:09] WangDaYeeeeee commented on #38
Unsplash doesn't return relative photos anymore.

[2017-05-06 12:51] hullymoly commented on #38
But you are using your app on Google Play already?

[2017-05-23 14:56] jahirfiquitiva opened #42 "Automatic download of pictures in certain collections"
This is a feature request.

I think it would be really useful if there was an option to automatically download pictures in a certain collection, when one adds a new one.

Similar to what Spotify Premium offers with playlists.

I don't know if that would be possible, but it would be really great to have. Thanks

[2017-05-25 11:42] WangDaYeeeeee commented on #42
That's a good idea. I will try to deal with it.

[2017-06-01 05:23] relan commented on #36
Not relevant anymore.

[2017-06-01 05:23] #36 closed, assigned to nobody

[2017-06-14 18:06] mueller-ma commented on #30
Sorry to say that, but you translation is not very good. Many gramar mistakes, e.g. "Betrieben vo**u**n Unsplash.com" and often you use unsuitable words, e.g. "VERFOLGER". A "verfolger" is a hunter, not a follower

[2017-06-14 21:13] CrimsonFork commented on #30
The grammar mistakes are most likely because of my small keyboard and you're right, after a while I stopped thinking about the actual meaning of what I'm translating. Thank you for pointing this out, ~~I'm going to take a look at this in the next few days~~ .

[2017-06-14 21:37] CrimsonFork commented on #30
Thanks to @mueller-ma the [translation](https://gist.github.com/2d9a75898dd70f3d9c5b548e8212b62f) is now better. I've made about 15 changes.

Please set the version number as a non-translateable string. I just had to make this change manually.

[2017-06-15 09:19] rugk commented on #30
So what about a PR finally? For easy PRs you can also user GitHub desktop, if possible.
I can also have a look at the translation then.

[2017-06-15 09:53] mueller-ma commented on #30
I have made a PR yesterday with some corrections #44

[2017-06-24 17:32] justinkruit opened #45 "Add To Collection size"
Hello,

Is there a possibility that the popup to add a photo to a collection, could be a bit bigger? I can see just 2 actual collections, and having the popup a bit bigger would allow more to be visible.

Otherwise, amazing app! Love using it, feels really smooth and just simple.

[2017-07-16 04:27] beratsenv opened #46 "Error:(158, 57) error: cannot find symbol method setSearchPhotoList(List<Photo>)"
Error:(158, 57) error: cannot find symbol method setSearchPhotoList(List<Photo>)
Error:(171, 106) error: cannot find symbol method getSearchPhotoList()7

Error:(53, 19) error: cannot find symbol variable activity_tag_statusBar

and many errors. How to fix it?

[2017-07-18 06:33] beratsenv opened #47 "Getting Building Error"
[code]

Every time building it, showing up. Can you help me? Thanks.

[2017-07-19 23:55] WangDaYeeeeee commented on #46
I have already deleted the TagActivity and SearchFragment, including those methods and value you mentioned.

I think you can try to re-fork my code.

[2017-07-19 23:58] WangDaYeeeeee commented on #47
I guess this error should be due to the configuration of the project has a problem, so the ButterKnife is not working properly.

[2017-08-08 20:17] mueller-ma opened #48 "Using weblate for translations"
Weblate is a web service which makes translations easier and it is free for foss projects

[2017-08-13 13:53] newamber opened #49 "像feedback那个图片是自己做的吗"
如果不是，请问哪能找到这类扁平风格的插画或着图片啊，自己做app没有美工又不想将就....谢谢~

[2017-08-15 09:55] WangDaYeeeeee commented on #49
找素材可以去dribbble一类的设计网站看看

[2017-08-17 08:47] newamber commented on #49
谢谢~

[2017-08-17 08:47] #49 closed, assigned to nobody

[2017-09-10 08:00] mueller-ma opened #50 "Github pictures of translators may be non free"
I dont think that github profile pictures are foss. When you download them the app might get tagged with a non-free antifeature on fdroid.

[2017-09-12 06:19] WangDaYeeeeee commented on #50
I am not sure about the copyright issue, but I have asked the translators, and they agreed to appear in the translator's list

[2017-09-12 14:59] mueller-ma commented on #50
Well, it's more complicated. Someone can give you the right to use his picture in the app, but the picture isn't under a free license than.

[2017-09-23 12:01] willbe058 opened #51 "有办法get tags吗"
我看文档中并没有相应的api。。

[2017-09-24 19:04] Poussinou commented on #4
Hi @WangDaYeeeeee

I found [this app](https://play.google.com/store/apps/details?id=com.jasonpost83.backsplash) on the Google Play Store. This guy just took your source code and put it on the Store, without warning this is free software...

As you are the owner of the source code, feel free to open a request to google [here](https://support.google.com/legal/contact/lr_dmca?product=googleplay) to r

[2017-10-13 09:04] ghost opened #53 "Some SSL error"
Hi, I'm using v3.2.1 from F-Droid and getting a notification on the bottom of the screen saying:

`Failed to load.
(javax.net.ssl.SSLProtocolException: SSL... hand)`

It's cut off at the ... point and I can't seem to expand it. I'm on Android 4.4.4 by the way.

[2017-10-15 15:38] ghost commented on #53
https://stackoverflow.com/questions/29916962/javax-net-ssl-sslhandshakeexception-javax-net-ssl-sslprotocolexception-ssl-han

Maybe this could help?

[2017-10-30 16:03] ghost commented on #53
V3.2.2

Now it says

`Failed to load. (Failed to connect to api.unsplash.com/151.101.113.181:443)`

[2017-11-01 18:36] subpub commented on #50
@mueller-ma They're just avatars and they are not the thing the app is used for anyway. Though some people dont like for it to connect to foreign servers (eg. gstatic.com) than the main one (unsplash.com) the app is for.

[2017-11-10 17:01] rugk opened #54 "Cannot load trending"
The F-Droid version cannot load anything, as the "trending" area always shows nothing. "Nothing loaded. Press to retry".

For some strange reason I can download images and set them as backgrounds.
It shows a strange loading animation then, but that's it.

[2017-11-10 20:17] mueller-ma opened #55 "FR: Include metadata for fdroid"
When providing metadata via a fastlane directory, fdroid automaticly shows them in the store. You dont need to install fastlane, just create the folder

Example: https://github.com/Freeyourgadget/Gadgetbridge/tree/master/fastlane/metadata/android/en-US
Info: https://github.com/fastlane/fastlane/blob/2.28.7/supply/README.md#images-and-screenshots

[2017-11-10 20:28] mueller-ma commented on #30
@OffifialMITX Can be closed?

[2017-11-11 05:45] CrimsonFork commented on #30
I don't have anything against it.

[2017-11-11 05:46] #30 closed, assigned to nobody

[2017-11-16 13:52] WangDaYeeeeee commented on #55
Thanks for support, buddy.

And sorry to reply to you so late. I will check your links.

[2017-11-26 16:30] dalhousy commented on #28
Same here. The downloads don't actually download for some reason, and when clicking on any of the downloads, the app crashes.

Happens on version 3.2.2 and 3.2.3 from F Droid. Running on Lineage 7.1.2.

![screenshot_20171126-213323](https://user-images.githubusercontent.com/33999495/33242075-1ef3d28c-d2f5-11e7-9544-c23cab202e8b.png)

[2017-11-28 18:48] NikiHard opened #59 "Small bug"
https://youtu.be/m1YfBVlP4hU

[2017-12-01 06:44] WangDaYeeeeee commented on #59
Thanks for the feedback, I will check that.

[2017-12-10 15:03] NikiHard opened #61 "error when installing as wallpaper"
error when installing as wallpaper Android 5.1.1
[code]

[2017-12-11 21:24] ghost commented on #53
3.2.4 same SSL error

[2018-04-09 10:36] ghost commented on #53
Same for me.

[2018-05-16 05:45] abdulmalikkhan655 opened #62 "new logo purpose free for you"
hello @WangDaYeeeeee   i want  to participate  Mysplash in   logo if you give me permission i will send you my design

[2018-05-17 23:09] TacoTheDank commented on #62
stop spamming every project

[2018-08-29 15:26] ghost commented on #48
Link : https://hosted.weblate.org

[2018-09-20 06:02] jerryn70 opened #65 "Category is Empty"
When I select category option it shows nothing. There is nothing in the category. Inside the category option i choose nature , people etc but all are empty

[2018-10-16 10:58] anuraag488 opened #66 "Update to Muzei API 3.0"
https://github.com/romannurik/muzei/releases/tag/api3.0.0

[2018-11-20 11:04] WangDaYeeeeee commented on #66
GOT IT    thank you.

[2018-11-20 11:04] #66 closed, assigned to nobody

[2018-11-20 11:14] WangDaYeeeeee commented on #65
Unsplash has already close this data interface. I will push a new update soon, and category view will be removed.

[2018-11-20 11:15] #65 closed, assigned to nobody

[2018-12-29 22:14] exomar opened #68 "Some images fail to open and crash app"
App fails randomly when opening some images. Some others work fine.

Version - 3.4.5 (Fdroid)
Logs:

[code]

[2019-01-05 09:20] zhoukuncheng opened #69 "Muzei设置中希望有跳到下一张图片的选项"
就是那个next artwork的按钮

貌似Muzei自己的同步选项很不靠谱，切到Mysplash源不能自动加载图片

[2019-01-05 09:36] WangDaYeeeeee commented on #69
新版本的api只能被动接受muzei的调用

Ceres Cartman <notifications@github.com> 于 2019年1月5日周六 17:20写道：

[2019-01-05 09:40] zhoukuncheng commented on #69
我说的是muzei app主页那个双箭头加载next artwork功能，
我看Backdrops和National Geographic两个源更新新api后还是保留的

[2019-01-05 11:11] WangDaYeeeeee commented on #69
就是在mysplash中设置切换下一张照片的接口么？

Ceres Cartman <notifications@github.com> 于2019年1月5日周六 下午5:41写道：

[2019-01-05 11:13] zhoukuncheng commented on #69
对，就是这个

[2019-01-12 07:09] Phantom12 opened #71 "Unable to get version 3.4.8 to work with Muzei 3.0"
Thanks for the great app!! Sorry but I still can't seem to get the latest version to work with Muzei 3.0.2 on both my Nexus 6P (Android 8.1) and Pixel 2 xl (Android 9.0). I selected "Mysplash" from Muzei -> Sources, but nothing happened. I further tried all 3 sources in the "Settings For Muzei", and the problem persisted. I wonder if it's a bug or I'm just using it wrong?

[2019-01-13 13:44] exomar commented on #68
No longer issue from 3.4.8 version

[2019-01-13 13:44] #68 closed, assigned to nobody

[2019-01-30 11:36] marlid91 commented on #71
Me too

[2019-02-24 04:17] marlid91 commented on #71
Same for 3.5.0

[2019-03-06 13:10] WangDaYeeeeee commented on #71
According to my experience, you must keep mysplash runing in the background so that the Muzei can get new photo normally.

[2019-03-13 11:20] sevmonster commented on #71
It does not work for me either on Oreo, with battery optimization disabled. The "next" button does not appear on Muzei when the Mysplash source is selected.

[2019-03-13 11:28] Phantom12 commented on #71
Both of my devices are on stock Android, so background running is enabled by default. I tried to disable battery optimization for both Muzei and Mysplash, but was unable not resolve the issue.

[2019-03-26 16:46] anonymous73 opened #73 "Ability to use your own image as wallpaper"
This sounds like a silly thing to request but on many devices the native program which creates and crops the wallpaper does a terrible job.

For example, on Kitkat the resolution of wallpapers that the native program creates is a quarter of what it should be (0.5*0.5)!

Its terrible and stifles creativity.

So if your program can allow a person to use their own pictures as high resolution wallpape

[2019-04-06 11:20] Phantom12 commented on #71
Just want to report back that in the latest version Muzei implementation now works on both my devices.

May I ask what Settings For Muzei -> Cache Mode mean? I can't seem to see the difference between keeping or deleting old photos.

[2019-04-06 22:05] sevmonster commented on #71
I tried it again, whatever the issue was appears to be resolved. Thanks.

[2019-04-28 13:52] anuraag488 opened #74 "Muzei: add option for setting resolution"
Hi
When using muzei wallpaper service, can you add an option to set wallpaper size.
It will help save bandwidth for those who don't use scrolling wallpaper.
Url for api
_Unsplash_api_url_/photos/_photoid_?h=1920&w=1080"

[2019-05-27 08:44] anuraag488 commented on #74
@WangDaYeeeeee
"Added screen size image option in Muzei Settings."
This option still download full resolution of image.

[2019-05-27 08:47] WangDaYeeeeee commented on #74
That may be because muzei has already cached some artwork information
before you change the settings. Just click the next button a few times.

neodada <notifications@github.com> 于2019年5月27日周一 下午4:44写道：

[2019-05-27 09:19] anuraag488 commented on #74
Ok working.

[2019-05-29 01:21] anuraag488 commented on #74
@WangDaYeeeeee
In case if you like to add one more source for muzei
source : search term
search terms : pattern,texture,abstract
url : https://api.unsplash.com/photos/random?query=pattern,texture,abstract&featured=false&count=10

[2019-05-29 07:08] WangDaYeeeeee commented on #74
👌

neodada <notifications@github.com> 于2019年5月29日周三 上午9:21写道：

[2019-09-16 08:18] leo95123 opened #75 "希望添加自动壁纸功能"
希望添加自动壁纸功能

[2019-09-25 05:57] adolfintel opened #76 "Add option to disable saturation animation"
This animation makes it impossibile to scroll quickly through pictures because they all look black and white. Also, if you're on a slow connection it takes a while to load the full color version, and you have no way to know if the picture is black and white or if it's still loading.

An option to completely disable this would be nice, just show a blank image while it's loading.

[2019-09-26 10:25] WangDaYeeeeee commented on #76
👌

Federico Dossena <notifications@github.com> 于2019年9月25日周三 下午1:57写道：

[2019-09-26 17:35] adolfintel opened #77 "About Bugly"
I see you're using Bugly for crash reporting.

I hate to nag yet another developer about this, but because of GDPR laws, if you want to distribute this in the EU you need to ask the user for consent BEFORE initializing Bugly. Currently you don't have a way to opt-out or even a disclaimer, and this is in full violation of GDPR, you might get in trouble because of this.

(personally, I recommend sim

[2019-09-27 02:01] WangDaYeeeeee commented on #77
Thanks for your feedback, I will check it.

Federico Dossena <notifications@github.com> 于2019年9月27日周五 上午1:35写道：

[2019-10-04 18:03] adolfintel commented on #77
Any news about this? The app will get removed from F-Droid if you don't do anything because the library is proprietary.

[2019-10-04 23:10] WangDaYeeeeee commented on #77
I will push a new version very soon.

Federico Dossena <notifications@github.com> 于2019年10月5日周六 上午2:03写道：

[2019-10-10 06:40] adolfintel commented on #77
I see you removed Bugly, that's awesome.
You should also update the manifest for your app on f-droid, because it's still on 3.7.1 (or I can do it for you)

[2019-10-11 03:07] WangDaYeeeeee commented on #77
Of course you can, thanks a lot.
Also I want to ask, will f-droid automatically publish a new version
according to my release record on github?

Federico Dossena <notifications@github.com> 于2019年10月10日周四 下午2:40写道：

[2019-10-15 17:28] #77 closed, assigned to nobody

[2019-10-29 15:06] Tisckkytt opened #78 "Add option for load quality of images"
For limited data users it'll be blessing if we could have options to select from different load quality for the images in feed.

![Screenshot_20191029-202935](https://user-images.githubusercontent.com/56971216/67779978-a2328d00-fa8f-11e9-91ab-d1d1cb7e8fd8.jpg)

Example from Resplash client.

[2019-10-29 15:14] Tisckkytt opened #79 "Card view as like as Resplash client"
With the current MD2 design of Mysplash, the card view will be more suitable than the others. Please add an alternate option for card view.

![Screenshot_20191029-210905](https://user-images.githubusercontent.com/56971216/67780913-f5f1a600-fa90-11e9-923b-bc75e0099c39.jpg)

[2019-11-04 09:18] licaon-kter opened #80 "F-Droid fails to build"
Ref: https://f-droid.org/wiki/page/com.wangdaye.mysplash/lastbuild_378

[2020-02-17 14:57] kameshkarthi opened #82 "UNSPLASH_NODE_API_URL"
Hello sir, can you say what is UNSPLASH_NODE_API_URL??

[2020-02-23 08:25] WangDaYeeeeee commented on #82
Sorry to reply so late....

The Unsplash website uses some APIs that are not publicly available. I obtained these interfaces by capturing packets, but because Unsplash does not describe those API in the developer document, I did not upload those URLs to Github.

This string is part of the URL.

[2020-02-23 08:25] #82 closed, assigned to nobody

[2020-02-29 15:43] kameshkarthi opened #84 "Get following feed"
Hello sir, How can i get users following feed in unsplash api??

[2020-03-01 00:15] WangDaYeeeeee commented on #84
unsplash.com does not officially publish those APIs related to the following feed, so I obtained them by capturing packets and do not intend to open source them.

[2020-03-01 00:15] #84 closed, assigned to nobody

[2020-03-01 03:52] kameshkarthi commented on #84
Please sir,Can you help me to do that?
Thanks you.

[2020-03-03 15:11] kameshkarthi opened #85 "Following feed"
Hello sir, Can you help me to get user's following feed?? Please sir....

[2020-03-04 04:35] WangDaYeeeeee commented on #85
You can install Packet Capture(app.greyshirts.sslcapture) app on your Android device, it can help you monitor all network requests on your phone, and then try to use the browser to visit the following feed page of unsplash.com under the monitoring state, after that, you can see the API access situation.

[2020-03-04 04:36] WangDaYeeeeee commented on #85
It is important to note that the api key you applied for on unsplash.com does not have permission to read the user's following feeds, so you need to obtain a token for the unsplash webpage from the packet capture record.

[2020-03-04 04:38] WangDaYeeeeee commented on #85
Hope these can help you buddy...

[2020-03-04 15:29] kameshkarthi commented on #85
Thanks you so much sir,You are great....

[2020-03-18 06:44] 24f3003349 opened #86 "App Crashes on package name is changed!!!"
The app on changing the package app showed some Android resources linking failed error then after solving the errors the app Crashes on being Start....

[2020-03-29 02:45] free4537 opened #87 "无法创建收藏集"
如题，提示创建收藏集失败

[2020-03-30 04:51] WangDaYeeeeee commented on #87
会检查一下，感谢反馈

Woodrow <notifications@github.com> 于2020年3月29日周日 上午10:45写道：

[2020-04-06 08:10] #74 closed, assigned to nobody

[2020-04-22 17:36] Starbear3 opened #88 "有没有考虑做成微信小程序？"
或者开源小程序？售卖小程序源码？ 我希望后者你考虑一下大佬

[2020-04-22 23:22] WangDaYeeeeee commented on #88
目前还在上学，没有多余的时间来学习小程序开发了

Starbear <notifications@github.com> 于2020年4月23日周四 上午1:36写道：

[2020-04-22 23:23] #88 closed, assigned to nobody

[2020-07-19 14:56] exomar commented on #80
The message seems to point to some localization file or change.

[2020-07-20 06:57] ghost commented on #80
It's been over a year with no update on F-Droid. Hope it gets fixed soon

[2020-11-29 12:53] explorer422 opened #89 "Privacy Policy Request"
Hi. Although Mysplash is open source,which is already better than some software. I would say if the application/project has a privacy policy that sort of stuff then will help all users to get to know their rights.

[2021-05-23 19:14] hydrargyrum opened #94 "Feature request: be able to disable advertising (so-called "brands")"
Unsplash now contains a lot of advertising images. They named it ["brands"](https://unsplash.com/brands) but it's still advertising, brands publishing photos of their products to trick you into buying their products. These photos have a very low interest, and should, if possible, be filterable in Mysplash, maybe with a checkbox "don't show sponsored images".

[2021-05-23 19:16] hydrargyrum commented on #94
On the same topic (brands trying to be advertised on free-to-use sites): https://www.theverge.com/2019/5/29/18644158/north-face-wikipedia-hack-leo-burnett-top-imagens